tools/node-red-registers.json
[
    {
        "id": "bf64d63f.630868",
        "type": "tab",
        "label": "SX1302 register C header",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d60daf5.ed6835",
        "type": "file in",
        "z": "bf64d63f.630868",
        "name": "",
        "filename": "/home/mcoracin/SHARE/sx1302_reg/common.json",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "ab571926.a8a0a8"
            ]
        ]
    },
    {
        "id": "ab571926.a8a0a8",
        "type": "json",
        "z": "bf64d63f.630868",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 160,
        "wires": [
            [
                "34de440d.259194"
            ]
        ]
    },
    {
        "id": "3e749686.017e32",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "Parse",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 160,
        "wires": [
            [
                "d60daf5.ed6835"
            ]
        ]
    },
    {
        "id": "34de440d.259194",
        "type": "function",
        "z": "bf64d63f.630868",
        "name": "JSON to C header",
        "func": "var reg_h = flow.get('reg_h') || '';\nvar reg_c = flow.get('reg_c') || '';\nvar reg_count = flow.get('reg_count') || 0;\n\nvar rif = 'common';\nvar prefix = 'SX1302_REG_';\nvar base_addr = prefix + rif.toUpperCase() + '_BASE_ADDR';\n\n// register definition\nvar page = '';\nvar addr = '';\nvar offs = '';\nvar sign = '';\nvar leng = '';\nvar rdon = '';\nvar dflt = '';\nvar reg_comment = '';\n\nfor(var register in msg.payload)\n{\n    //console.log(register);\n    for(var field in msg.payload[register].fields)\n    {\n        //console.log(' ' + field);\n        page = '0';\n        addr = base_addr + '+' + msg.payload[register].addr;\n        offs = msg.payload[register].fields[field].pos;\n        sign = '0';\n        leng = msg.payload[register].fields[field].width;\n        rdon = (msg.payload[register].fields[field].readonly === false) ? '0' : '1';\n        dflt = msg.payload[register].fields[field].value;\n        reg_comment = (rif + '_' + register + '_' + field).toUpperCase();\n\n        reg_h += '#define ' + prefix + reg_comment + ' ' + reg_count + '\\n';\n        reg_c += '    '; // indent\n        reg_c += '{' + page + ',' + addr + ',' + offs + ',0,' + leng + ',' + rdon + ',' + dflt + '}, // ' + reg_comment + '\\n';\n        \n        reg_count += 1;\n    }\n}\n\nconsole.log(reg_h);\nconsole.log(reg_c);\n\nflow.set('reg_count', reg_count);\nflow.set('reg_h', reg_h);\nflow.set('reg_c', reg_c);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 160,
        "wires": [
            [
                "aae4ac70.472438"
            ]
        ]
    },
    {
        "id": "a8c02e96.c069",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "Init",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 40,
        "wires": [
            [
                "13cca583.8beb3a"
            ]
        ]
    },
    {
        "id": "13cca583.8beb3a",
        "type": "function",
        "z": "bf64d63f.630868",
        "name": "Init global variables",
        "func": "var reg_c = 'const struct lgw_reg_s loregs[LGW_TOTALREGS] = {' + '\\n';\n\nflow.set('reg_h', '');\nflow.set('reg_c', reg_c);\nflow.set('reg_count', 0);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 40,
        "wires": [
            [
                "d040198e.3a7208"
            ]
        ]
    },
    {
        "id": "d040198e.3a7208",
        "type": "debug",
        "z": "bf64d63f.630868",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "12128a9a.ea5e35",
        "type": "file in",
        "z": "bf64d63f.630868",
        "name": "",
        "filename": "/home/mcoracin/SHARE/sx1302_reg/agc_mcu.json",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "d6c34db.5471fb"
            ]
        ]
    },
    {
        "id": "d6c34db.5471fb",
        "type": "json",
        "z": "bf64d63f.630868",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "5696ed9e.d00f6c"
            ]
        ]
    },
    {
        "id": "c7ba4afe.f6229",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "Parse",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 220,
        "wires": [
            [
                "12128a9a.ea5e35"
            ]
        ]
    },
    {
        "id": "5696ed9e.d00f6c",
        "type": "function",
        "z": "bf64d63f.630868",
        "name": "JSON to C header",
        "func": "var reg_h = flow.get('reg_h') || '';\nvar reg_c = flow.get('reg_c') || '';\nvar reg_count = flow.get('reg_count') || 0;\n\nvar rif = 'agc_mcu';\nvar prefix = 'SX1302_REG_';\nvar base_addr = prefix + rif.toUpperCase() + '_BASE_ADDR';\n\n// register definition\nvar page = '';\nvar addr = '';\nvar offs = '';\nvar sign = '';\nvar leng = '';\nvar rdon = '';\nvar dflt = '';\nvar reg_comment = '';\n\nfor(var register in msg.payload)\n{\n    //console.log(register);\n    for(var field in msg.payload[register].fields)\n    {\n        //console.log(' ' + field);\n        page = '0';\n        addr = base_addr + '+' + msg.payload[register].addr;\n        offs = msg.payload[register].fields[field].pos;\n        sign = '0';\n        leng = msg.payload[register].fields[field].width;\n        rdon = (msg.payload[register].fields[field].readonly === false) ? '0' : '1';\n        dflt = msg.payload[register].fields[field].value;\n        reg_comment = (rif + '_' + register + '_' + field).toUpperCase();\n\n        reg_h += '#define ' + prefix + reg_comment + ' ' + reg_count + '\\n';\n        reg_c += '    '; // indent\n        reg_c += '{' + page + ',' + addr + ',' + offs + ',0,' + leng + ',' + rdon + ',' + dflt + '}, // ' + reg_comment + '\\n';\n        \n        reg_count += 1;\n    }\n}\n\nconsole.log(reg_h);\nconsole.log(reg_c);\n\nflow.set('reg_count', reg_count);\nflow.set('reg_h', reg_h);\nflow.set('reg_c', reg_c);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 220,
        "wires": [
            [
                "622ff0f9.4bcfc8"
            ]
        ]
    },
    {
        "id": "917cf46c.ceaa48",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "Create files",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "67447ab8.c38edc"
            ]
        ]
    },
    {
        "id": "67447ab8.c38edc",
        "type": "function",
        "z": "bf64d63f.630868",
        "name": "Write header file",
        "func": "var reg_count = flow.get('reg_count') || 0;\n\nvar reg_h = flow.get('reg_h') || '';\nreg_h += '\\n#define LGW_TOTALREGS = ' + reg_count + '\\n';\n\nvar reg_c = flow.get('reg_c') || '';\nreg_c += '    {0,0,0,0,0,0,0}\\n'\nreg_c += '};';\n\n// write all to file\nvar file = reg_h + '\\n' + reg_c;\nmsg.payload = file;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "b1b0d974.6ae61"
            ]
        ]
    },
    {
        "id": "b1b0d974.6ae61",
        "type": "file",
        "z": "bf64d63f.630868",
        "name": "",
        "filename": "/home/mcoracin/SHARE/sx1302_reg/sx1302_reg.h",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "aae4ac70.472438",
        "type": "debug",
        "z": "bf64d63f.630868",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "622ff0f9.4bcfc8",
        "type": "debug",
        "z": "bf64d63f.630868",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "1450f6f8.1be259",
        "type": "file in",
        "z": "bf64d63f.630868",
        "name": "",
        "filename": "/home/mcoracin/SHARE/sx1302_reg/rif_top_mux.json",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 390,
        "y": 100,
        "wires": [
            [
                "5c712585.37aeec"
            ]
        ]
    },
    {
        "id": "5c712585.37aeec",
        "type": "json",
        "z": "bf64d63f.630868",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 100,
        "wires": [
            [
                "8bbc1d63.391468"
            ]
        ]
    },
    {
        "id": "a48ebe9c.34b028",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "Parse",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "1450f6f8.1be259"
            ]
        ]
    },
    {
        "id": "8bbc1d63.391468",
        "type": "function",
        "z": "bf64d63f.630868",
        "name": "JSON to C header",
        "func": "var reg_h = flow.get('reg_h') || '';\n\nvar prefix = 'SX1302_REG_';\nvar postfix = '_BASE_ADDR';\nvar line = '';\n\nfor(var item in msg.payload.map)\n{\n    var base_addr = msg.payload.map[item].addr;\n    line += '#define ' + prefix + item.toUpperCase() + postfix + ' 0x' + base_addr.toString(16) + '\\n'\n}\nconsole.log(line);\n\nreg_h += line + '\\n';\n\nflow.set('reg_h', reg_h);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 100,
        "wires": [
            [
                "9494d0f2.75b628"
            ]
        ]
    },
    {
        "id": "9494d0f2.75b628",
        "type": "debug",
        "z": "bf64d63f.630868",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1070,
        "y": 100,
        "wires": []
    }
]
