tools/node-red-registers.json
[
    {
        "id": "bf64d63f.630868",
        "type": "tab",
        "label": "SX1302 register C header",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d60daf5.ed6835",
        "type": "file in",
        "z": "bf64d63f.630868",
        "name": "",
        "filename": "/home/mcoracin/SHARE/sx1302_reg/common.json",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "ab571926.a8a0a8"
            ]
        ]
    },
    {
        "id": "ab571926.a8a0a8",
        "type": "json",
        "z": "bf64d63f.630868",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 160,
        "wires": [
            [
                "2efaa7ec.1e3158"
            ]
        ]
    },
    {
        "id": "3e749686.017e32",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "common",
        "topic": "common",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "d60daf5.ed6835"
            ]
        ]
    },
    {
        "id": "a8c02e96.c069",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "Init",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 40,
        "wires": [
            [
                "13cca583.8beb3a"
            ]
        ]
    },
    {
        "id": "13cca583.8beb3a",
        "type": "function",
        "z": "bf64d63f.630868",
        "name": "Init global variables",
        "func": "var reg_c = 'const struct lgw_reg_s loregs[LGW_TOTALREGS+1] = {' + '\\n';\n\nflow.set('reg_h', '');\nflow.set('reg_c', reg_c);\nflow.set('reg_count', 0);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 40,
        "wires": [
            [
                "d040198e.3a7208"
            ]
        ]
    },
    {
        "id": "d040198e.3a7208",
        "type": "debug",
        "z": "bf64d63f.630868",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "12128a9a.ea5e35",
        "type": "file in",
        "z": "bf64d63f.630868",
        "name": "",
        "filename": "/home/mcoracin/SHARE/sx1302_reg/agc_mcu.json",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "d6c34db.5471fb"
            ]
        ]
    },
    {
        "id": "d6c34db.5471fb",
        "type": "json",
        "z": "bf64d63f.630868",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "2efaa7ec.1e3158"
            ]
        ]
    },
    {
        "id": "c7ba4afe.f6229",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "agc_mcu",
        "topic": "agc_mcu",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 220,
        "wires": [
            [
                "12128a9a.ea5e35"
            ]
        ]
    },
    {
        "id": "917cf46c.ceaa48",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "Create files",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 760,
        "wires": [
            [
                "67447ab8.c38edc"
            ]
        ]
    },
    {
        "id": "67447ab8.c38edc",
        "type": "function",
        "z": "bf64d63f.630868",
        "name": "Write header file",
        "func": "var reg_count = flow.get('reg_count') || 0;\n\nvar reg_h = flow.get('reg_h') || '';\nreg_h += '\\n#define LGW_TOTALREGS ' + reg_count + '\\n';\n\nvar reg_c = flow.get('reg_c') || '';\nreg_c += '    {0,0,0,0,0,0,0}\\n'\nreg_c += '};';\n\n// write all to file\nvar file = reg_h + '\\n' + reg_c;\nmsg.payload = file;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 760,
        "wires": [
            [
                "b1b0d974.6ae61"
            ]
        ]
    },
    {
        "id": "b1b0d974.6ae61",
        "type": "file",
        "z": "bf64d63f.630868",
        "name": "",
        "filename": "/home/mcoracin/SHARE/sx1302_reg/sx1302_reg.h",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 620,
        "y": 760,
        "wires": []
    },
    {
        "id": "aae4ac70.472438",
        "type": "debug",
        "z": "bf64d63f.630868",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1150,
        "y": 280,
        "wires": []
    },
    {
        "id": "1450f6f8.1be259",
        "type": "file in",
        "z": "bf64d63f.630868",
        "name": "",
        "filename": "/home/mcoracin/SHARE/sx1302_reg/rif_top_mux.json",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "5c712585.37aeec"
            ]
        ]
    },
    {
        "id": "5c712585.37aeec",
        "type": "json",
        "z": "bf64d63f.630868",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 100,
        "wires": [
            [
                "8bbc1d63.391468"
            ]
        ]
    },
    {
        "id": "a48ebe9c.34b028",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "rif_top_mux",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "1450f6f8.1be259"
            ]
        ]
    },
    {
        "id": "8bbc1d63.391468",
        "type": "function",
        "z": "bf64d63f.630868",
        "name": "JSON Parse Base Addresses",
        "func": "var reg_h = flow.get('reg_h') || '';\n\nvar prefix = 'SX1302_REG_';\nvar postfix = '_BASE_ADDR';\nvar line = '';\n\nfor(var item in msg.payload.map)\n{\n    var base_addr = msg.payload.map[item].addr;\n    line += '#define ' + prefix + item.toUpperCase() + postfix + ' 0x' + base_addr.toString(16) + '\\n'\n}\n//console.log(line);\n\nreg_h += line + '\\n';\n\nflow.set('reg_h', reg_h);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 100,
        "wires": [
            [
                "9494d0f2.75b628"
            ]
        ]
    },
    {
        "id": "9494d0f2.75b628",
        "type": "debug",
        "z": "bf64d63f.630868",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1150,
        "y": 100,
        "wires": []
    },
    {
        "id": "2d9b9bf2.6b3bb4",
        "type": "file in",
        "z": "bf64d63f.630868",
        "name": "",
        "filename": "/home/mcoracin/SHARE/sx1302_reg/clk_ctrl.json",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 370,
        "y": 280,
        "wires": [
            [
                "7efa17e6.f8b68"
            ]
        ]
    },
    {
        "id": "7efa17e6.f8b68",
        "type": "json",
        "z": "bf64d63f.630868",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 280,
        "wires": [
            [
                "2efaa7ec.1e3158"
            ]
        ]
    },
    {
        "id": "5883ebc9.2fede4",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "clk_ctrl",
        "topic": "clk_ctrl",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 280,
        "wires": [
            [
                "2d9b9bf2.6b3bb4"
            ]
        ]
    },
    {
        "id": "54a46dd.945aa14",
        "type": "file in",
        "z": "bf64d63f.630868",
        "name": "",
        "filename": "/home/mcoracin/SHARE/sx1302_reg/tx_top.json",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 370,
        "y": 340,
        "wires": [
            [
                "5ae327f2.618788"
            ]
        ]
    },
    {
        "id": "5ae327f2.618788",
        "type": "json",
        "z": "bf64d63f.630868",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 340,
        "wires": [
            [
                "2efaa7ec.1e3158"
            ]
        ]
    },
    {
        "id": "ca4d9728.057d68",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "tx_top_a",
        "topic": "tx_top_a",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 340,
        "wires": [
            [
                "54a46dd.945aa14"
            ]
        ]
    },
    {
        "id": "50b73755.13ee",
        "type": "file in",
        "z": "bf64d63f.630868",
        "name": "",
        "filename": "/home/mcoracin/SHARE/sx1302_reg/tx_top.json",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 370,
        "y": 400,
        "wires": [
            [
                "ce78d3ce.e6bf18"
            ]
        ]
    },
    {
        "id": "ce78d3ce.e6bf18",
        "type": "json",
        "z": "bf64d63f.630868",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 400,
        "wires": [
            [
                "2efaa7ec.1e3158"
            ]
        ]
    },
    {
        "id": "4791c4e5.60b12c",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "tx_top_b",
        "topic": "tx_top_b",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 400,
        "wires": [
            [
                "50b73755.13ee"
            ]
        ]
    },
    {
        "id": "2efaa7ec.1e3158",
        "type": "function",
        "z": "bf64d63f.630868",
        "name": "JSON to C header",
        "func": "var reg_h = flow.get('reg_h') || '';\nvar reg_c = flow.get('reg_c') || '';\nvar reg_count = flow.get('reg_count') || 0;\n\nvar rif = msg.topic;\nvar prefix = 'SX1302_REG_';\nvar base_addr = prefix + rif.toUpperCase() + '_BASE_ADDR';\n\n// register definition\nvar page = '';\nvar addr = '';\nvar offs = '';\nvar sign = '';\nvar leng = '';\nvar rdon = '';\nvar dflt = '';\nvar reg_comment = '';\n\nfor(var register in msg.payload)\n{\n    //console.log(register);\n    for(var field in msg.payload[register].fields)\n    {\n        //console.log(' ' + field);\n        page = '0';\n        addr = base_addr + '+' + msg.payload[register].addr;\n        offs = msg.payload[register].fields[field].pos;\n        if(msg.payload[register].fields[field].hasOwnProperty('signed'))\n        {\n            console.log(msg.payload[register].fields[field].signed);\n            if(msg.payload[register].fields[field].signed === true)\n            {\n                sign = '1';\n            }\n            else\n            {\n                sign = '0';\n            }\n        }\n        else\n        {\n            sign = '0';\n        }\n        leng = msg.payload[register].fields[field].width;\n        rdon = (msg.payload[register].fields[field].readonly === false) ? '0' : '1';\n        dflt = msg.payload[register].fields[field].value;\n        reg_comment = (rif + '_' + register + '_' + field).toUpperCase();\n\n        reg_h += '#define ' + prefix + reg_comment + ' ' + reg_count + '\\n';\n        reg_c += '    '; // indent\n        reg_c += '{' + page + ',' + addr + ',' + offs + ',' + sign + ',' + leng + ',' + rdon + ',' + dflt + '}, // ' + reg_comment + '\\n';\n        \n        reg_count += 1;\n    }\n}\n\n//console.log(reg_h);\n//console.log(reg_c);\n\nflow.set('reg_count', reg_count);\nflow.set('reg_h', reg_h);\nflow.set('reg_c', reg_c);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 280,
        "wires": [
            [
                "aae4ac70.472438"
            ]
        ]
    },
    {
        "id": "ab7535a2.47b2e8",
        "type": "file in",
        "z": "bf64d63f.630868",
        "name": "",
        "filename": "/home/mcoracin/SHARE/sx1302_reg/gpio.json",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 360,
        "y": 460,
        "wires": [
            [
                "6017e95e.37841"
            ]
        ]
    },
    {
        "id": "6017e95e.37841",
        "type": "json",
        "z": "bf64d63f.630868",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 460,
        "wires": [
            [
                "2efaa7ec.1e3158"
            ]
        ]
    },
    {
        "id": "626f34eb.dac1f4",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "gpio",
        "topic": "gpio",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 460,
        "wires": [
            [
                "ab7535a2.47b2e8"
            ]
        ]
    },
    {
        "id": "f6871b6f.167d",
        "type": "file in",
        "z": "bf64d63f.630868",
        "name": "",
        "filename": "/home/mcoracin/SHARE/sx1302_reg/timestamp.json",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 380,
        "y": 520,
        "wires": [
            [
                "d1c6c905.bbf6a"
            ]
        ]
    },
    {
        "id": "d1c6c905.bbf6a",
        "type": "json",
        "z": "bf64d63f.630868",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 520,
        "wires": [
            [
                "2efaa7ec.1e3158"
            ]
        ]
    },
    {
        "id": "128c968f.34cc09",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "timestamp",
        "topic": "timestamp",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 520,
        "wires": [
            [
                "f6871b6f.167d"
            ]
        ]
    },
    {
        "id": "38f6ab4d.eba4b4",
        "type": "file in",
        "z": "bf64d63f.630868",
        "name": "",
        "filename": "/home/mcoracin/SHARE/sx1302_reg/rx_top.json",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 370,
        "y": 580,
        "wires": [
            [
                "f464e634.1500a8"
            ]
        ]
    },
    {
        "id": "f464e634.1500a8",
        "type": "json",
        "z": "bf64d63f.630868",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 580,
        "wires": [
            [
                "2efaa7ec.1e3158"
            ]
        ]
    },
    {
        "id": "4dd5087.c34c178",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "rx_top",
        "topic": "rx_top",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 580,
        "wires": [
            [
                "38f6ab4d.eba4b4"
            ]
        ]
    },
    {
        "id": "28e533a1.3ef5ac",
        "type": "file in",
        "z": "bf64d63f.630868",
        "name": "",
        "filename": "/home/mcoracin/SHARE/sx1302_reg/arb_mcu.json",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 380,
        "y": 640,
        "wires": [
            [
                "3c2109da.3df84e"
            ]
        ]
    },
    {
        "id": "3c2109da.3df84e",
        "type": "json",
        "z": "bf64d63f.630868",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 640,
        "wires": [
            [
                "2efaa7ec.1e3158"
            ]
        ]
    },
    {
        "id": "c3a46357.bf67c",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "arb_mcu",
        "topic": "arb_mcu",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 640,
        "wires": [
            [
                "28e533a1.3ef5ac"
            ]
        ]
    },
    {
        "id": "b3ed4e4f.fbd358",
        "type": "file in",
        "z": "bf64d63f.630868",
        "name": "",
        "filename": "/home/mcoracin/SHARE/sx1302_reg/radio_fe.json",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 380,
        "y": 700,
        "wires": [
            [
                "37f7e33f.14dc6c"
            ]
        ]
    },
    {
        "id": "37f7e33f.14dc6c",
        "type": "json",
        "z": "bf64d63f.630868",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 700,
        "wires": [
            [
                "2efaa7ec.1e3158"
            ]
        ]
    },
    {
        "id": "e9006ee1.8d154",
        "type": "inject",
        "z": "bf64d63f.630868",
        "name": "radio_fe",
        "topic": "radio_fe",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 700,
        "wires": [
            [
                "b3ed4e4f.fbd358"
            ]
        ]
    }
]
